<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Cheeseburger Cheeseburger</h1>
            <p class="lead">What kind of burger do you feel like today?</p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="jumbotron to-eat">
                <h1 class="burgerMenu">Burger Menu</h1>
                <hr>
                <ul>
                    {{#each burgers}}
                        {{#unless devoured}}
                        <li class="burgerList">
                            {{burger_name}}
                            <button class="btn btn-dark btn-sm notDevoured" data-id="{{id}}">Eat</button>
                        </li>
                        {{/unless}}
                    {{/each}}    
                </ul>
            </div>
        </div>
        <div class="col-6">
            <div class="jumbotron devoured">
                <h1 class="devBurger">Devoured Burgers</h1>
                <hr>
                <ul>
                    {{#each burgers}}
                        {{#if devoured}}
                        <li>
                            {{burger_name}}
                        </li>
                        {{/if}}
                    {{/each}}    
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col 12">
            <div class="jumbotron to-add">
                <h1>What Kind of Burger Would You Like To Devour?</h1>
                <hr>
                <form>
                    <div class="form-group">
                        <label for="newBurgers"></label>
                        <input type="text" class="form-control" id="newBurgers"  placeholder="Enter Burger">
                        <button type="submit" class="addBurgers btn btn-dark btn-sm">Burger Time!!!</button>
                    </div>
                </form>
                <footer class="footer text-center">
                    <p><a href="https://github.com/Rnulanz/Eat-Da-Burger.git">GitHub Repo</a>
                    <p class="nameRich">Richard Nulanz</p>
                        &copy; 2019 -
                        <script>
                        document.write(new Date().getFullYear())
                        </script> 
                    </p>
                </footer>
            </div>
        </div>
    </div>
</div>


