body{
    background-color: red;
    background-image: url(../img/burger3.jpeg);
}

.jumbotron-fluid{
    text-align: center;
    background-color: red;
    
}
.to-eat{
    background-color: red;
}

.devoured{
    background-color: red;
}

.to-add{
background-color: red;
}

.burgerMenu{
    text-align: center;
}

.devBurger{
    text-align: center;
}

.burgerList{
    margin: 2%;
}

.addBurgers{
    margin-top: 2%;

}

.notDevoured{
    width: 50px;
    height: 23px;
    text-align: justify;
    margin-bottom: 1px;

}

